html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Reenie Beanie', cursive;
  font-size: 30px;
}

#game-wrap {
  width: 100%;
  height: 100%;
  
  background: url(../img/bg.jpg) repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;  
  overflow: hidden;
}
#game-wrap:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  
  background: url(../img/scratches.png);
  background-size: cover;
  mix-blend-mode: exclusion;
  
  opacity: 0.3;
}

  #game {
    position: relative;
    width: 40vmax;
    margin: auto;
    
    transform: rotate(-2deg);
    padding: 1vw;
  }
    
    #status {
      margin: 0.4em 0;
      text-align: center;
      font-size: 3.8vmax;
      color: white;
      text-decoration: underline;
      cursor: default;
      transition: all 0.1s;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
      #status span {
        font-weight: bold;
      }
    #winner {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      font-size: 400px;
      text-align: center;
      
      opacity: 0;
      pointer-events: none;
      transform: rotate(-10deg) scale(0.6);
      transition: all 2s;
      transition-timing-function: cubic-bezier(1.000, -0.600, 0.000, 1.650);
    }
    #winner.visible {
      opacity: 1;
      transform: scale(1.0) rotate(10deg);
    }
    svg {
      width: 100%;
    }
      svg .scribble polyline {
        fill: none;
        stroke-dasharray: 20000;
        stroke-dashoffset: 20000;
      }
      svg .scribble.visible polyline {
        animation: scribble 0.4s linear forwards;  
      }  
  
      svg .box {
        fill: transparent;
        rx: 3;
        transition: all 0.1s;
      }
      
      svg .line {
        stroke: transparent;
        stroke-linecap: round;
        stroke-width: 3;
        transition: all 0.1s;
      }
      svg .line:hover {
        stroke: #ccc;
      }
      svg .line:active {
        stroke: #ddd;
      }
      svg .line:not(.taken) {
        cursor: pointer;
      }
      
      svg .dot {
        fill: rgba(255,255,255,1);
      }
  
@keyframes scribble {
  to { stroke-dashoffset: 0; }
}

@keyframes dash {
  to { stroke-dashoffset: 0; }
}